.info-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-logo{
    img{
    width: 64px;     
    }       
}

.longread{
    padding: 1rem;
    .info-longread{
        .info-h{
            font-size: 28px;
            font-weight: 500;
            margin-bottom: 20px;
            img{
                margin-left: 10px;
                height: 28px;
            }
        }

        .info-text{
            p{
                font-size: 24px;
                margin-bottom: 10px;
            }
        }
    
    
    }
}
