$breakpoint-tablet: 768px;
  @media (max-width: $breakpoint-tablet) {
  
  .navbar{
    .links-align{
      align-items: center;
      justify-content: center ;
    }
     
    
  }
  .clubshop-intro{
  .davines-img{
    background: url(/img/davines/davinesmob.jpg);
  }
  .club-img{
    background: url(/img/davines/wemob.jpg);
  }

  .welcomescreen{
    background-repeat: repeat-y;
    background-size: 100vw ,100vh;
  }
  }
  
  .cart{
    width: 80%;
    
    .cart-item{
      .photo{
        margin: 0;
        img{
          height: 140%;
        }
      }
      .cart-text{
        width: 35%;
      }
      button{
        width: 15%;
        img{
          padding: 10%;
          width: 100%;
        }
       
      }
    }
    .heading{
      button{
        width: 15%;
        height: 70px;
        padding: 2%;
        }
    }


  }

  .modal-all{
    height: 80vh;
  }

  .order{
    width: 100%;
  }



}